html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#title {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#menu {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#gameID {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

input {
    text-align: center;
    margin-right: 10px;
}

button {
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    padding: 10px;
}