html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Logo {
    background-color: black;
}

.foot {
    background-color: black;
}