html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#title {
    margin-top: 1%;
    margin-bottom: 1%;
}

#player {
    margin-top: 2%;
}

/* Tables */
.tables {
    display: inline-block;
    width: 100%;
    margin-bottom: 1%;
    align-items: center;
}

.tables div {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.tables div table {
    display: flex;
    border-collapse: collapse;
}

.tables div table tr th, td {
    width: 120px;
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
    background-color: white;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    align-items: center;
    justify-self: center;
}

.menu div {
    display: flex;
    padding: 1%;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.menu div label {
    margin-left: 20px;
    margin-right: 10px;
}

/* Buttons */
.button {
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#submit {
    margin-top: 1%;
}

.error {
    display: block;
    color: red;
    font-weight: bold;
}

#negativeResources {
    display: none;
}

input {
    text-align: center;
    width: 90px;
    padding: 4px;
    height: 14px;
}
